{{ partial "header.html" . }}
{{ partial "navigation.html" . }}
<section class="hero is-medium is-primary is-bold has-particles" id="index-hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">{{ .Title }}</h1>
            <h2 class="subtitle">{{ .Params.subtitle }}</h2>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns is-multiline">
            {{ range first $.Site.Params.PaginateIndex (where (where $.Site.Pages "Type" "in" "[see]") "Kind" "page") }}
            <div class="column is-one-third">
                {{ partial "index/post-preview.html" . }}
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ if $.Site.Params.hasBlog }}
<section class="section has-padding-top-none">
    <div class="container">
        <h2 class="title has-text-weight-bold is-uppercase">Blog</h2>
        {{ range first $.Site.Params.PaginateIndex (where (where $.Site.Pages "Type" "in" "[blog]") "Kind" "page") }}
        {{ partial "index/blog-preview.html" . }}
        {{ end }}
    </div>
</section>
{{ end }}
{{ if $.Site.Params.hasReview }}
<section class="section has-padding-top-none">
    <div class="container">
        <h2 class="title has-text-weight-bold is-uppercase">Reviews</h2>
        {{ range first $.Site.Params.PaginateIndex (where (where $.Site.Pages "Type" "in" "[review]") "Kind" "page") }}
        {{ partial "index/review-preview.html" . }}
        {{ end }}
    </div>
</section>
{{ end }}
{{ partial "footer.html" . }}